<section class="header-11-sub bg-green">
    <div class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="span4 offset1">
                <h3>Welcome to Quizzy</h3>
                <p>
                    You have the design, you have the code. We’ve created the product that will help your startup to
                    look even better.
                </p>
                <div class="additional-links">
                    By signin up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                </div>
            </div>
            <div class="span4 offset2">
               <%= render "form"%>
            </div>
        </div>
    </div>
</section>






