<%= link_to 'Start a new challenge', new_challenge_path, class: "btn btn-default btn-lg"%>


<ul>
	<% @challenges.each do |c|%>
	<li><%= c.champion.first_name%> submitted <%= link_to "challenge #{c.id}", challenge_path(c) %> and got <%= c.score%> points</li>
	<% end %>
</ul>