<p>X Une seule réponse possible</p>
<p>- Enregistrer la réponse dans User.answers.chosen_answer_index</p>

<p>
  <strong>The quiz has begun !</strong>
</p>

<%= render 'form' %>

<p><%= link_to 'Voir votre score', score_path %></p>




